<footer class="footer">
  <img src="/assets/images/global/logo-small.svg" alt="The French Oven" class="footer__logo-image">

  <ul class="footer__list">
    <li class="footer__item">© The French Oven. All rights reserved.</li>
    <li class="footer__item">Located in Mississauga, Ontario, Canada.</li>
    <li class="footer__item">Email: cakes@thefrenchoven.on.ca</li>
    <li class="footer__item">Call: +1-647-402-5984</li>
  </ul>

  <img src="/assets/images/global/logo-small.svg" alt="The French Oven" class="footer__logo-image">
</footer>