<nav class="navbar">
  <ul class="navbar__list">
    <li class="navbar__logo-container">
      <LinkTo @route="home" class="navbar__link navbar__logo">
        <img src="/assets/images/global/logo-with-name.svg" alt="The French Oven" class="navbar__logo-image">
      </LinkTo>
    </li>
    <li>
      <LinkTo @route="home" class="navbar__link">Home</LinkTo>
    </li>
    <li>
      <LinkTo @route="everyday-cakes" class="navbar__link">Cakes</LinkTo>
    </li>
    <li>
      <a class="navbar__link" href="#">Seasonals</a>
    </li>
    <li>
      <a class="navbar__link" href="#">About</a>
    </li>
    <li>
      <a class="navbar__link" href="#">Contact</a>
    </li>
  </ul>
</nav>