<nav class="navbar">
  <ul class="navbar__list">
    <li><a href="#">The french oven</a></li>
    <li><a href="#">Home</a></li>
    <li><a href="#">Our Cakes</a></li>
    <li><a href="#">Seasonals</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul>
</nav>