<nav class="navbar">
  <ul class="navbar__list">
    <li class="navbar__logo-container">
      <LinkTo @route="home" class="navbar__link navbar__logo">
        <img src="/assets/images/global/logo-with-name.svg" alt="The French Oven" class="navbar__logo-image">
      </LinkTo>
    </li>
    <li>
      <LinkTo @route="home" class="navbar__link">Home</LinkTo>
    </li>
    <li class="dropdown">
      <span class="navbar__link {{if isCakesRoute "active"}}">Cakes</span>
      <ul class="dropdown__content">
        <li class="dropdown__item"><LinkTo @route="cakes.everyday-cakes" class="dropdown__link">Everyday cakes</LinkTo></li>
        <li class="dropdown__item"><LinkTo @route="cakes.celebration-cakes" class="dropdown__link">Celebration cakes</LinkTo></li>
        <li class="dropdown__item"><LinkTo @route="cakes.kids-birthday-cakes" class="dropdown__link">Kids birthday cakes</LinkTo></li>
        <li class="dropdown__item"><LinkTo @route="cakes.eggless-cakes" class="dropdown__link">Eggless cakes</LinkTo></li>
      </ul>
    </li>
    <li>
      <LinkTo @route="seasonals-cakes" class="navbar__link">Seasonals</LinkTo>
    </li>
    <li>
      <LinkTo @route="about-us" class="navbar__link">About Us</LinkTo>
    </li>
    <li>
      <LinkTo @route="contact" class="navbar__link">Contact</LinkTo>
    </li>
  </ul>
</nav>