<nav class="navbar">
  <ul class="navbar__list">
    <li>
      <a class="navbar__link navbar__logo" href="#">
        <img src="/assets/images/global/logo-with-name.svg" alt="The French Oven" class="navbar__logo-image">
      </a>
    </li>
    <li>
      <a class="navbar__link" href="#">Home</a>
    </li>
    <li>
      <a class="navbar__link" href="#">Cakes</a>
    </li>
    <li>
      <a class="navbar__link" href="#">Seasonals</a>
    </li>
    <li>
      <a class="navbar__link" href="#">About</a>
    </li>
    <li>
      <a class="navbar__link" href="#">Contact</a>
    </li>
  </ul>
</nav>