<nav class="navbar">
  <ul class="navbar__list">
    <li class="navbar__logo-container">
      <LinkTo @route="home" class="navbar__link navbar__logo">
        <img src="/assets/images/global/logo-with-name.svg" alt="The French Oven" class="navbar__logo-image">
      </LinkTo>
    </li>
    <li>
      <LinkTo @route="home" class="navbar__link">Home</LinkTo>
    </li>
    <li class="dropdown">
      <span class="navbar__link">Cakes</span>
      <ul class="dropdown__content">
        <li class="dropdown__item"><LinkTo @route="everyday-cakes" class="dropdown__link">Everyday cakes</LinkTo></li>
        <li class="dropdown__item"><LinkTo @route="celebration-cakes" class="dropdown__link">Celebration cakes</LinkTo></li>
        <li class="dropdown__item"><LinkTo @route="kids-birthday-cakes" class="dropdown__link">Kids birthday cakes</LinkTo></li>
        <li class="dropdown__item"><LinkTo @route="eggless-cakes" class="dropdown__link">Eggless cakes</LinkTo></li>
      </ul>
    </li>
    <li>
      <a class="navbar__link" href="#">Seasonals</a>
    </li>
    <li>
      <a class="navbar__link" href="#">About</a>
    </li>
    <li>
      <a class="navbar__link" href="#">Contact</a>
    </li>
  </ul>
</nav>