<div ...attributes class="home-carousel-slide flex-center">
  <img class="home-carousel-slide__image" src={{@imageSrc}} alt={{@altText}}>
  <div class="home-carousel-slide__description">
    <p class="home-carousel-slide__description-text">{{@description}}</p>
    <a src="#" class="red-box-link">See our 8" cakes</a>
  </div>
</div>