<div class="home-carousel-slide flex">
  <img class="home-carousel-slide__image" src={{@imageSrc}} alt={{@altText}}>
  <div class="home-carousel-slide__description">
    <p class="home-carousel-slide__description-text">{{@description}}</p>
    <LinkTo @route="cakes.everyday-cakes" class="red-box-link">See our everyday cakes</LinkTo>
  </div>
</div>