.about-us {
  &__left {
    width: 45%;
    margin-right: 80px;
    margin-top: 35px;
  }

  &__right {
    width: 55%;
    font-family: 'lato', sans-serif;
    font-size: 16px;
    color: #707071;
    margin-top: 90px;
  }

  &__title {
    font-size: 32px;
    font-family: "Thirsty-Rough-light", sans-serif;
    color: #d6bd7d;
    margin-bottom: 6px;
  }

  &__quote {
    font-family: 'lato', sans-serif;
    font-size: 22px;
    color: #707071;
    margin-top: 0;
    width: 85%;
  }

  &__image {
    max-width: 100%;
  }

  @media screen and (max-width: $mobile-max-width) {
    flex-direction: column;
    padding: 0 35px;
    margin-top: 70px;
    text-align: center;
    &__left {
      margin: 0;
    }
    &__title {
      margin-top: 0;
      font-size: 24px;
    }
    &__left {
      width: initial;
    }
    &__right {
      width: initial;
      margin-top: 0;
      font-size: 14px;
      margin-bottom: 16px;
    }
    &__quote {
      width: 100%;
      font-size: 16px;
    }
  }
}