.about-us {
  &__left {
    width: 45%;
    margin-right: 80px;
    margin-top: 78px;
  }

  &__right {
    width: 55%;
    font-family: 'lato', sans-serif;
    font-size: 16px;
    color: #707071;
    margin-top: 108px;
  }

  &__title {
    font-family: 'lato', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #533019;
    margin-bottom: 6px;
  }

  &__quote {
    font-family: 'lato', sans-serif;
    font-size: 22px;
    color: #707071;
    margin-top: 0;
    width: 85%;
  }

  &__image {
    max-width: 100%;
  }
}