.contact {
  &__left {
    width: 600px;
    height: 450px;
    margin-right: 80px;
    background-color: #f9f4ee;
    margin-top: 108px;
  }

  &__right {
    width: 55%;
    font-family: 'lato', sans-serif;
    font-size: 16px;
    color: #707071;
    margin-top: 108px;
  }

  &__title {
    margin-top: 0;
    font-size: 32px;
    font-family: "Thirsty-Rough-light", sans-serif;
    color: #d6bd7d;
    margin-bottom: 6px;
  }

  &__address {
    font-style: normal;
  }

  &__dt {
    font-family: 'lato', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #533019;
    margin-top: 20px;
    margin-bottom: 4px;
  }

  &__dd {
    margin-left: 0;
    & a {
      color: #ff0434;
      text-decoration: none;
    }
  }
}