.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  height: 36px;
  font-family: 'lato', sans-serif;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.9);
  border-top: 1px solid rgba(205,207,210,.7);
  width: $app-width;
  margin: 24px auto;

  &__logo-image {
    padding: 0 14px;
  }
}