.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  height: 36px;
  font-family: 'lato', sans-serif;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.9);
  border-top: 1px solid rgba(205,207,210,.7);
  width: $app-width;
  margin: 24px auto;

  &__list {
    display: flex;
    margin-bottom: 0;
  }

  &__item {
    margin: 0 4px;

    @media screen and (min-width: $mobile-max-width) {
      &:not(:last-child)::after {
        content: "|";
        margin-left: 8px;
      }
    }
  }

  &__logo-image {
    padding: 0 14px;
  }

  @media screen and (max-width: $mobile-max-width) {
    width: initial;
    height: initial;
    padding: 20px;
    margin: 0;

    &__list {
      flex-direction: column;
      @media screen and (max-width: $mobile-max-width) {
        text-align: center;
      }
    }

    &__item {
      margin: 4px;
    }

    &__logo-image {
      display: none;
    }
  }
}