$app-width: 951px;
$mobile-max-width: 500px;
$nav-bar-height: 58px;
$nav-bar-height-mobile: 38px;

html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
 	margin: 0;
 	& > * {
    	line-height: 1.428571429;
 	}
}

ul {
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
}

@font-face { 
  font-family: Thirsty-Rough-bold; 
  src: url(fonts/ThirstyRoughBold.otf);
}
@font-face { 
  font-family: Thirsty-Rough-light; 
  src: url(fonts/ThirstyRoughLight.otf);
}
@font-face { 
  font-family: Thirsty-Rough; 
  src: url(fonts/ThirstyRoughRegular.otf);
}