$app-width: 849px;
$nav-bar-height: 58px;

html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
}