.red-box-link {
  color: white;
  border-radius: 2px;
  background-color: #ff0434;
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.82;
  padding: 6px 20px;
  text-transform: uppercase;
  border: 0;
  display: inline-block;
}