.red-box-link {
  color: white;
  border-radius: 2px;
  background-color: #ff0434;
  font-family: 'lato', sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 20px;
  border: 0;
  display: inline-block;
  text-decoration: none;

  @media screen and (max-width: $mobile-max-width) {
    margin: 20px 0;
  }
}