.navbar {
  position: sticky;
  top: 0;
  height: $nav-bar-height;
  width: 100%;
  line-height: 1.43;
  font-family: 'Lato', sans-serif;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
  background-color: #f9f4ee;
  z-index: 2;

  &__list {
    width: $app-width;
    height: 100%;
    display: flex;
    margin: 0 auto;
  }

  &__link {
    padding: 0 22px;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #533019;

    &.active {
      border-bottom: 2px solid #533019;
    }
  }

  &__logo-container {
    flex: 1;
  }

  &__logo {
    padding: 16px 0 0 0;
    margin-right: 168px;
    width: 208px;

    &.active {
      border-bottom: none;
    }
  }

  &__logo-image {
    width: 100%;
  }
}