.navbar {
    position: fixed;
    top: 0;
    height: $nav-bar-height;
    width: 100%;
    font-family: 'lato', sans-serif;
    z-index: 2;
    background: #fff;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
    box-shadow: 0px 1px 5px 2px rgba(173, 168, 173, 0.55);

  &__list {
    width: $app-width;
    height: 100%;
    display: flex;
    margin: 0 auto;
  }

  &__link {
    padding: 0 22px;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #707071;

    &:hover {
      color: #ff0434;
    }
  }

  &__logo-container {
    flex: 1;
  }

  &__logo {
    margin-right: 168px;
    width: 240px;

    &.active {
      border-bottom: none;
    }
  }

  &__logo-image {
    width: 100%;
  }

  @media screen and (max-width: $mobile-max-width) {
    height: $nav-bar-height-mobile;

    &__list {
      width: 100%;
    }

    &__item {
      display: none;
    }

    &__logo-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__logo {
      width: initial;
      margin-right: 0;
      padding: 0;
    }
  }
}