.navbar {
  position: sticky;
  top: 0;
  height: $nav-bar-height;
  width: 100%;
  line-height: 1.43;
  font-family: 'Lato', sans-serif;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
  background-color: #f9f4ee;
  z-index: 2;

  &__list {
    width: $app-width;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  &__link {
    padding: 20px 22px 0;
    height: 100%;
    display: block;
    text-decoration: none;
    color: #533019;
  }

  &__logo {
    padding: 16px 0 0 0;
    margin-right: 168px;
    width: 208px;
  }

  &__logo-image {
    width: 100%;
  }
}