// mixins
@import "mixins/topless-box-shadow";

// main css
@import "global"; // global needs to be at the top for global sass vars
@import "common";
@import "home";
@import "home/carousel";
@import "home/carousel/slide";
@import "home/carousel/dots";
@import "home/contact";
@import "home/nut-free";
@import "about-us";
@import "contact";
@import "cakes/cake-page";
@import "links";
@import "navbar";
@import "footer";
@import "dropdown";

.application__content {
  margin: 55px auto;
  max-width: $app-width;

  @media screen and (max-width: $mobile-max-width) {
    margin: $nav-bar-height-mobile 0 0 0;
    width: initial;
    padding: 0;
  }
}