.cake-page {
  &__title {
    font-size: 32px;
    margin-top: 100px;
    font-family: "Thirsty-Rough-light", sans-serif;
    color: #d6bd7d;
  }

  &__description {
    max-width: 77%;
    margin-bottom: 42px;
    font-family: 'lato', sans-serif;
    font-size: 16px;
    color: #707071;
  }

  &__cake-list {
    display: flex;
    flex-wrap: wrap;
  }

  &__cake {
    width: 50%;
    display: flex;
    margin-bottom: 24px;

    &:nth-child(odd) {
      padding-right: 30px;
    }

    &:nth-child(even) {
      padding-left: 30px;
    }
  }

  &__cake-text {
    flex: 1;
    padding-right: 28px;
    font-family: 'lato', sans-serif;
    font-size: 14px;
    color: #707071;
  }

  &__cake-name {
    margin: 0 0 6px 0;
    font-family: 'lato', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #533019;
  }

  &__cake-description {
    margin-top: 0;
  }

  &__cake-image-container {
    width: 150px;
    height: 132px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__cake-image {
    max-width: 100%;
    max-height: 100%;
  }

  @media screen and (max-width: $mobile-max-width) {
    padding: 0 35px;
    text-align: center;
    
    &__title {
      margin-top: 70px;
      font-size: 24px;
    }

    &__cake-description {
      margin-bottom: 20px;
    }

    &__description {
      max-width: initial;
    }

    &__cake-list {
      flex-direction: column;
      flex-wrap: initial;
    }

    &__cake {
      width: initial;
      flex-direction: column;
      align-items: center;
      
      &:not(:last-child) {
        border-bottom: 1px solid #707071;
        margin-bottom: 50px;
        padding-bottom: 50px;
      }


      &:nth-child(odd) {
        padding-right: 0;
      }

      &:nth-child(even) {
        padding-left: 0;
      }
    }

    &__cake-text {
      padding-right: 0;
    }
  }
}
