.everyday-cakes {
  &__cake-list {
    display: flex;
    flex-wrap: wrap;
  }

  &__cake {
    width: 50%;
    display: flex;

    &:nth-child(odd) {
      padding-right: 30px;
    }

    &:nth-child(even) {
      padding-left: 30px;
    }
  }

  &__text {
    flex: 1;
    padding-right: 28px;
  }

  &__image {
    width: 150px;
    height: 132px;
  }
}