<section class="home-carousel">
  <div class="flex-center">
    <img class="home-carousel__slide-image" src="/assets/images/home/blackforest@2x.png" alt="Black Forest cake">
    <div class="home-carousel__slide-description">
      <p class="home-carousel__slide-description-text">Treat yourself to our creamy and moist Black Forest cake.</p>
      <a src="#" class="red-box-link">See our 8" cakes</a>
    </div>
  </div>
</section>