<section class="home-contact">

  {{!-- Get in touch subsection --}}
  <div class="home-contact__get-in-touch">
    <h3 class="home-contact__get-in-touch-header"><span class="home-contact__info">Get in touch</span></h3>
    <div class="home-contact__phone">
      <i class="home-contact__phone-icon"></i>
      <a href="tel:+1-647-402-5984" class="home-contact__phone-number">647-402-5984 (Office)</a>
    </div>
    <div class="home-contact__phone">
      <i class="home-contact__phone-icon"></i>
      <a href="tel:+1-416-662-8709" class="home-contact__phone-number">416-662-8709 (Mobile)</a>
    </div>
    <div class="home-contact__email">
      <i class="home-contact__email-icon"></i>
      <a href="mailto:cakes@thefrenchoven.on.ca" class="home-contact__email-address">cakes@thefrenchoven.on.ca</a>
    </div>
  </div>

  {{!-- Our location subsection--}}
  <div class="home-contact__our-location">
    <h3 class="home-contact__our-location-header"><span class="home-contact__info">Our location</span></h3>
    <address class="home-contact__address">
      <i class="home-contact__map-icon"></i>
      <span class="home-contact__address1">5240 Bradco Blvd</span><br>
      <span class="home-contact__address2">Mississauga ON L4W 1G7</span>
      <a href="https://goo.gl/maps/Uhcd7JFt9kUNxWfw5" target="_blank" rel="noreferrer noopener" class="home-contact__address-link">Open in maps</a>
      <i class="home-contact__arrow-up-right-icon"></i>
    </address>
  </div>

  {{!-- SQF certified subsection --}}
  <div class="home-contact__sqf">
    <h3 class="home-contact__sqf-header">
      <span class="home-contact__info">
        SQF Certified
        <img class="home-contact__sqf-logo" src="/assets/images/home/sqf-logo.png" alt="SQF certified">
      </span>
    </h3>
    <p class="home-contact__sqf-desc">We have a rigorous food safety program in place at our facility and have passed the Safe Quality Food (SQF) audit.</p>
  </div>
</section>