<section class="home-nut-free flex-center">
  <div class="home-nut-free__description">
    <h3 class="home-nut-free__header">We make peanut and nut free cakes.</h3>
    <p class="home-nut-free__description-text">Our facility remains a nut-free environment at all times. We also provide non-dairy whipped icing and don’t use animal fats or alcoholic flavorings.</p>
    <a src="#" class="red-box-link">Learn about us</a>
  </div>
  <div class="home-nut-free__images">
    <img class="home-nut-free__no-peanut-image" src="/assets/images/home/no-peanut.svg" alt="Peanut free">
    <img src="/assets/images/home/no-nut.svg" alt="Nut free">
  </div>
</section>