.home-carousel {
  height: 350px;
  position: relative;

  &__slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/assets/images/home/sprinkles@2x.png");
    background-size: 240px 175px;
    background-repeat: no-repeat;
    background-position: top right;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  &__active {
    opacity: 1;
    z-index: 1;
  }
}
