.home-carousel {
  height: 259px;
  background-image: url("/assets/images/home/confetti@2x.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;

  &__slide {
    opacity: 0;
    transition: opacity 2.5s ease-in-out;
  }

  &__active {
    opacity: 1;
    z-index: 1;
  }
}
