.home-contact {
  height: 184px;
  display: flex;


  &__phone,
  &__email,
  &__fax {
    margin-bottom: 8px;
    font-family: 'lato', sans-serif;
    font-size: 14px;
    color: #272624;
    text-decoration: none;
  }

  &__phone-icon,
  &__email-icon,
  &__map-icon,
  &__arrow-up-right-icon,
  &__arrow-right-icon {
    display: inline-block;
    height: 13px;
    width: 13px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    top: 1px;
    margin-right: 4px;
    position: relative;
  }

  &__phone-icon {
    background-image: url("/assets/images/home/phone-icon.svg");
  }

  &__email-icon {
    background-image: url("/assets/images/home/email-icon.svg");
    top: 2px;
  }

  &__map-icon {
    background-image: url("/assets/images/home/map-icon.svg");
  }

  &__arrow-up-right-icon {
    background-image: url("/assets/images/home/arrow-up-right-icon.svg");
    height: 9px;
    width: 9px;
    margin-left: 4px;
    top: -1px;
  }

  &__arrow-right-icon {
    background-image: url("/assets/images/home/arrow-right-icon.svg");
    margin-left: 4px;
    top: 2px;
  }

  &__phone-number,
  &__email-address {
    text-decoration: none;
    color: #272624;
  }

  &__get-in-touch,
  &__our-location,
  &__sqf {
    height: 100%;
    flex: 1;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__get-in-touch-header,
  &__our-location-header,
  &__sqf-header {
    font-family: 'lato', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
  }

  // get in touch subsection
  &__get-in-touch {
    background-image: url("/assets/images/home/get-in-touch.svg");
  }

  &__get-in-touch-header {
    color: #272624;
    margin-bottom: 20px;
  }

  // our location subsection
  &__our-location {
    background-image: url("/assets/images/home/our-location.svg");
    color: #272624;
  }

  &__our-location-header {
    margin-bottom: 54px;
  }

  &__address {
    font-family: 'lato', sans-serif;
    font-size: 14px;
    text-align: center;
    font-style: normal;
  }

  &__address2 {
    display: block;
    margin-bottom: 6px;
  }

  &__address-link {
    color: inherit;
    text-decoration: none;
  }

  // sqf subsection
  &__sqf {
    background-image: url("/assets/images/home/sqf.svg");
    color: #272624;
  }

  &__sqf-header {
    margin-bottom: 20px;
  }

  &__sqf-desc {
    font-family: 'lato', sans-serif;
    font-size: 14px;
    text-align: center;
    max-width: 75%;
    margin: 0 0 12px 0;
  }
  &__info {
    display: block;
    margin-top: 4px;
    color: #272624;
    font-family: 'Lato-Regular';
    text-transform: uppercase;
    font-size: 14px;
    &:before {
      content: '';
      width: 42px;
      height: 1px;
      border-bottom: 1px solid #272624;
      display: inline-block;
      position: relative;
      top: -3px;
      right: 10px;
    }
    &:after {
      content: '';
      width: 42px;
      height: 1px;
      border-bottom: 1px solid #272624;
      display: inline-block;
      position: relative;
      top: -3px;
      left: 10px;
    }
  }
}