.home-nut-free {
  border-radius: 2px;
  background-color:#F2F5FA;

  &__header {
    font-family: 'Thirsty-Rough-light', sans-serif;
    font-size: 24px;
    color: #d6bd7d;
    margin-top: 4px;
    margin-bottom: 13px
  }

  &__description {
    max-width: 515px;
    padding: 50px 0;
  }

  &__description-text {
    font-family: 'lato', sans-serif;
    font-size: 16px;
    line-height: 1.43;
    color: #707071;
    margin-bottom: 24px;
  }

  &__images {
    margin-left: 60px;
  }

  &__no-peanut-image {
    height: 69px;
    width: 69px;
    margin-right: 22px;
  }

  @media screen and (max-width: $mobile-max-width) {
    &__images {
      display: none;
    }

    &__description {
      text-align: center;
      padding: 35px;
    }
  }
}
