.home-nut-free {
  border-radius: 2px;
  background-color: #f2f2f2;

  &__header {
    margin-bottom: 12px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.25;
    color: #707071;
    margin-top: 0;
  }

  &__description {
    max-width: 372px;
    padding: 50px 0;
  }

  &__description-text {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.43;
    color: #707071;
    margin-bottom: 16px;
  }

  &__images {
    margin-left: 60px;
  }

  &__no-peanut-image {
    margin-right: 22px;
  }
}
