.home-carousel-slide {
  justify-content: center;
  height: 100%;
  width: 100%;

  &--image-not-loaded {
    background: linear-gradient(#ecf0f1, #fff);
  }

  &__image {
    max-height: 100%;
    max-width: 100%;
    transition: opacity 0.7s ease-in-out;
    opacity: 1;

    &--not-loaded {
      opacity: 0;
    }
  }

  &__description {
    max-width: 360px;
  }

  &__description-text {
    margin: 67px 0 24px;
    font-family: 'Thirsty-rough', sans-serif;
    font-size: 32px;
    color: #707071;
  }

  @media screen and (max-width: 948px) {
    flex-direction: column;
    align-items: center;

    &--image-not-loaded {
      // .483 is the ratio of height to width for our carousel images
      min-height: 48.3vw;
    }

    &__image {
      width: initial;
      max-height: initial;
    }

    &__description {
      max-width: 100%;
      text-align: center;
    }

    &__description-text {
      margin: initial;
      font-size: 14px;
    }
  }
}