.home-carousel-slide {
  justify-content: center;

  &__image {
    margin: 42px 96px 16px 0;
    max-height: 200px;
    width: 303px;
  }

  &__description {
    max-width: 260px;
  }

  &__description-text {
    margin: 67px 0 16px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #707071;
  }
}