<div class="flex about-us">
  <div class="about-us__left">
    <h1 class="about-us__title">About The French Oven</h1>
    <p class="about-us__quote"> We have many years of experience baking sweet delicious cakes since 1980.</p>
    <img src="/assets/images/about-us/baker.jpg" alt="Baker" class="about-us__image">
  </div>

  <div class="about-us__right">
    <p>Based in Mississauga, The French Oven is a reputed and reliable wholesale bakery that is a leading manufacturer of peanut free cakes and pastries. Established in 1980 we have grown into a 34000 sq ft state of the art, semi automated facility supplying to major retail chains in Canada.</p>
    <p>Quality assurance and maintaining high standards of hygiene and product quality is our top priority. Our Quality Assurance team insures all materials, work procedures and training of staff. We are an SQF certified facility. The SQF program is recognized by The Global Food Safety Initiative as a globally recognized food safety and quality certification program based on sound scientific principles valued by all large scale foodservice and retail clients.</p>
    <p>Product development and keeping up with the trends in the market is something that we always strive towards. Our creative team constantly  comes up with new line of cakes to keep foremost in the baking industry.</p>
  </div>
</div>