<div class="home">

  {{!-- Top section - Carousel --}}
  <Home::Carousel />

  {{!-- Middle section - Contact --}}
  <Home::NutFree @tagName="" />

  {{!-- Bottom section - Nut free --}}
  <Home::Contact @tagName="" />

</div>