<section class="home">
  <div class="home__carousel">Carousel</div>
  <div class="home__contact">
    <div class="home__get-in-touch">
      <h3 class="home__get-in-touch-header">GET IN TOUCH</h3>
      <a href="tel:+1-905-629-7171" class="home__tel">905-629-7171</a>
      <a href="mailto:cakes@thefrenchoven.on.ca" class="home__email">cakes@thefrenchoven.on.ca</a>
      <a href="tel:+1-905-629-6747" class="home__fax">Fax: 905-629-6747</a>
    </div>
    <div class="home__our-location">
      <h3 class="home__our-location-header">OUR LOCATION</h3>
      <address class="home__address">
        <span class="home__address1">5240 Bradco Blvd</span><br>
        <span class="home__address2">Mississauga ON L4W 1G7</span>
        <a href="google.com" class="home__address-link">Open in maps</a>
      </address>
    </div>
    <div class="home__whats-new">
      <h3 class="home__whats-new-header">WHAT&#39;S NEW?</h3>
      <p class="home__whats-new-desc">'Tis the Season' to be jolly and enjoy our delicous, festive christmas cakes!</p>
      <a href="#" class="home__whats-new-link">See them here</a>
    </div>
  </div>
  <div class="home__nut-free"></div>
</section>