<h1 class="everyday-cakes__title">Everyday Cakes</h1>

<p class="everyday-cakes__description">
  Our round cakes are available in  7’’ and 8’’.  The 8’’ cakes contain 9 servings of 70 grams (2.5 oz.) with a cake net weight of 650 grams (23 oz). The 7’’ cakes contain 8 servings of 88.75 grams (3.13 oz) with a cake net weight of 710 grams (25 oz.)
</p>

<ul class="everyday-cakes__cake-list">
  {{#each this.cakes as |cake|}}
    <li class="everyday-cakes__cake">
      <div class="everyday-cakes__cake-text">
        <h3 class="everyday-cakes__cake-name">{{cake.name}}</h3>
        <p class="everyday-cakes__cake-description">{{cake.description}}</p>
      </div>
      <img src={{cake.imageUrl}} class="everyday-cakes__image" alt="Image for {{cake.name}}">
    </li>
  {{/each}}
</ul>